.areaInput{
    width: 100%;
    text-align: left;

    .label{
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.3px;
        color: var(--thirdy);
        display: block;
        margin-bottom: 5px;
    }

    .input{
        width: 100%;
        border-radius: 4px;
        border: .5px solid var(--primary-opacity);
        height: 38px;
        background-color: var(--neutral);
        outline: none;
        padding: 0 10px;
        color: var(--thirdy);
        font-size: 12px;

        &::placeholder{
            color: var(--thirdy);
            font-size: 12px;
            opacity: .7;
        }
    }
    .error{
        color: var(--error);
        font-size: 11px;
        font-weight: 500;
        letter-spacing: 0.3px;
        margin-top: 5px;
    }

    &.error{

        .label{

            color: var(--error);
        }

        .input{
            border-color: var(--error);
        }
    }
}