.title{
    font-weight: 700;
    font-size: 44px;
    line-height: 56px;
    letter-spacing: 0.2px;
    color: var(--neutral);
    margin-top: 50px;
    position: relative;

    strong{
        color: var(--secondary);
    }

    &.alternative{
        color: var(--thirdy);
    }

    &::before{
        content: url('./icons/triangulo.svg');
        width: 30px;
        position: absolute;
        top: -50px;
    }


}