.initial{
    width: 100%;
    padding: 60px var(--padding-horizontal);
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    position: relative;

    .contentArea{
        width: 60%;

        .title{
            font-weight: 700;
            font-size: 2.75rem;
            line-height: 3.5rem;
            letter-spacing: 0.2px;
            color: var(--neutral);
            position: relative;

            strong{
                color: var(--secondary);
            }

            &::before{
                content: url('./icons/triangulo.svg');
                position: absolute;
                top: -50px;
            }
        }

        .subTitle{
            max-width: 450px;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            text-align: justify;
            letter-spacing: 0.3px;
            color: var(--neutral);
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }

    .imageArea{
        max-width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    @media (max-width: 1200px){
        
        padding: 60px 9%;

        .contentArea{

            .title{
                font-size: 2.4rem;
                line-height: 2.8rem;
            }
        }

    }
}