.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--neutral);

    .content{
        width: 100%;
        max-width: 350px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .icon{
            color: var(--primary);
            font-size: 56px;
        }

        .title{
            font-size: 2rem;
            color: var(--thirdy);
            text-align: center;
        }

        .description{
            font-size: 1rem;
            opacity: .7;
            color: var(--thirdy);
            text-align: center;
        }
    }
}