.industries{
    width: 100%;
    padding: 60px var(--padding-horizontal);
    background-color: var(--neutral);
    text-align: center;
    position: relative;
    
    .industry{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 100px;
        padding-top: 50px;
        position: relative;

        &:nth-child(2n){
            flex-direction: row-reverse;
        }

        .iframeArea{
            position: relative;
            width: calc(50% - 100px);
            min-width: 300px;
            padding-top: calc((calc(50% - 100px)) / 16 * 9);
            border-radius: 1rem;
            overflow: hidden;

            .iframe{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        .areaText{
            text-align: left;
            width: calc(50% - 100px);

            .title{
                font-weight: 700;
                font-size: 35px;
                line-height: 56px;
                letter-spacing: 0.2px;
                color: var(--thirdy);
                margin-bottom: 20px;
            }

            .description{
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.3px;
                opacity: .7;
                color: var(--thirdy);
                margin-bottom: 40px;
            }
        }
    }

    @media (max-width: 1200px){
        padding: 60px 9%;
    }

    @media (max-width: 992px){
        padding: 60px 5%;
        gap: 20px;

        .industry{
            flex-direction: column;
            gap: 10px;

            .iframeArea{
                width: 100%;
                padding-top: calc(100% / 16 * 9); 
                position: relative;
    
                .iframe{
                    width: 100%;
                    height: 100%;
                }
            }

            .areaText{
                width: 100%;
            }
        }
    }
}