.clients{
    width: 100%;
    background-color: var(--neutral);
    padding: 60px var(--padding-horizontal);
    text-align: center;

    .description{
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.3px;
        color: var(--thirdy);
        opacity: .7;
        max-width: 500px;
        margin: 30px auto;
        margin-bottom: 50px;
    }
    
    .list{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 40px;
        list-style: none;
    
        .item{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
    }

    @media (max-width: 1200px){

        padding: 60px 9%;
    }
}