.solutions{
    width: 100%;
    scroll-margin-top: 82px;

    .areaArticle{
        width: 100%;
        position: relative;
        background-color: var(--neutral);

        .firstArticle{
            width: 100%;
            padding: 0 var(--padding-horizontal);
            background-color: var(--neutral);
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 460px;

            .description{
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.3px;
                color: var(--thirdy);
                opacity: .7;
            }

            &.disable{
                opacity: 0;
            }

        }

        .article{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 460px;
            padding: 0 var(--padding-horizontal);
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            opacity: 0;
            transform: translate(-10px, 10px);
            transition: all .3s;

            &.active{
                opacity: 1;
                transform: translate(0, 0);
            }

            .content{
                max-width: 50%;
                gap: 20px;

                .areaTitle{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 20px;
                    margin-bottom: 20px;

                    .title{
                        font-weight: 700;
                        font-size: 30px;
                        line-height: 38px;
                        letter-spacing: 0.2px;
                        color: var(--thirdy);
                        width: 300px;
                    }

                }

                .areaImage{
                    width: 50%;
                }
    
                .description{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    letter-spacing: 0.3px;
                    color: var(--thirdy);
                    opacity: .7;
                    margin-bottom: 30px;
                }
            }
        }
    }

    .list{
        width: 100%;
        padding: 50px var(--padding-horizontal);
        background-color: var(--primary);
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 60px;

        .item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            max-width: 120px;
            text-align: center;
            cursor: pointer;

            .titleIem{
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                color: var(--neutral);
                text-align: center;
            }
        }
    }
}