:root{
  --neutral: #FFFFFF;
  --primary: #0068FF;
  --secondary: ##F3BF1B;
  --thirdy: #072249;
}

*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
