:root{
  --neutral: #FFFFFF;
  --primary: #0068FF;
  --primary-opacity: #0066ff77;
  --secondary: #F3BF1B;
  --thirdy: #072249;
  --error: #ba1a1a;
  --padding-horizontal: 12%;
  --phone-size: 576px;
  --tablet-size: 768px;
  --desktop-size: 992px;
  --large-desktop-size: 1200px;
}

*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
